@model IEnumerable<IndaneApi.Models.Loading>


@{
    ViewData["Title"] = "LoadReport";
}

<h1>LoadReport</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Full)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Full)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expense)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>