
@{
    ViewData["Title"] = "Default";
}

<p>
    <b>Cylinder 19kg</b>: @ViewData["cyclinder19"] ||
    <b>Cylinder 14kg</b>: @ViewData["cyclinder14"] ||
    <b>Cylinder Nc 19kg</b>: @ViewData["cyclinderNC19"] ||
    <b>Cylinder Nc 14kg</b>: @ViewData["cyclinderNC14"] ||
    <b>Cylinder Empty Pending 19kg</b>: @ViewData["cyclinderEp19"] ||
    <b>Cylinder Empty Pending 14kg</b>: @ViewData["cyclinderEp14"] ||
    <b>Cylinder Returned Full 19kg</b>: @ViewData["cyclinderRf19"] ||
    <b>Cylinder Returned Full 14kg</b>: @ViewData["cyclinderRf14"] ||
    <b>Cylinder Cash to be Received 19kg</b>: @ViewData["cyclinderC2r19"] ||
    <b>Cylinder Cash to be Received 14kg</b>: @ViewData["cyclinderC2r14"] ||
    <b>Cylinder Cash received 19kg</b>: @ViewData["cyclinderCr19"] ||
    <b>Cylinder Cash received 14kg</b>: @ViewData["cyclinderCr14"] ||
    <b>Cylinder Balanced 19kg</b>: @ViewData["cyclinderRb19"] ||
    <b>Cylinder Balanced 14kg</b>: @ViewData["cyclinderRb14"] ||
</p>


