@model IndaneApi.Models.Empty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPersonDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPersonDetail.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmptyNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmptyNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewConnection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmptyPending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmptyPending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedFull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashRecevied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashRecevied)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
